.createpasscontainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createpassbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
}
.createpasstitle {
  font-size: 34px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.8rem;
}

.delete-account-modal-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-account-modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 1rem;
}
.delete-account-modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.8rem;
}

form > input {
  padding: 0.8rem;
  outline: none;
  border-radius: 0.6rem;
  border: 1px solid gray;
}
form button {
  padding: 0.8rem;
  outline: none;
  border-radius: 0.6rem;
  border: 1px solid gray;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
form button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.cancel-btn {
  background-color: var(--white) !important;
  color: var(--primary) !important
}

.createpassbox a {
  color: var(--primary);
}

@media (max-width: 900px) {
  .createpassbox {
    width: 100%;
  }
}
